* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  position: relative;
  background-color: #4f3d46;
  font-family: 'Roboto', sans-serif; }

.container {
  width: 100vw;
  background-color: #b3a790;
  padding: 20px; }
  @media (min-width: 768px) {
    .container {
      position: absolute;
      top: 100px;
      left: 50%;
      width: 80%;
      transform: translateX(-50%); } }
  .container h2 {
    color: #4f3d46;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 20px 10px;
    text-align: center; }
    @media (min-width: 768px) {
      .container h2 {
        font-size: 3.2rem; } }
  .container form {
    margin-left: 10px; }
    .container form .zad,
    .container form .addTask {
      display: inline-block;
      height: 50px;
      width: 100%;
      font-size: 2rem;
      margin: 20px auto;
      background-color: #ddd;
      border: 2px solid black; }
      @media (min-width: 768px) {
        .container form .zad,
        .container form .addTask {
          font-size: 4rem;
          height: 100px; } }
    .container form .zad {
      padding: 10px; }
    .container form .addTask {
      color: #4f3d46;
      font-weight: 500;
      cursor: pointer; }
      .container form .addTask:hover {
        background-color: #4f3d46;
        color: #ddd; }
  .container ul {
    list-style: none; }
    .container ul li {
      font-size: 2rem;
      width: 100%;
      margin: 20px;
      word-wrap: break-word; }
      @media (min-width: 768px) {
        .container ul li {
          font-size: 2.8rem; } }
      .container ul li span {
        float: right;
        margin-right: 20px;
        transition: 0.3s linear; }
        .container ul li span i {
          cursor: pointer; }

.fa-trash-alt {
  color: #4f3d46; }

.fa-trash-alt:hover {
  color: #8b2222; }
