* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colors:(BgColor:#4f3d46,
    ConColor:#b3a790,
    BtnColor: #ddd,
    TextColor:#4f3d46,
);

$margin:20px;
$height:50px;
$fontSize:2rem;

$desktop:768px;

@mixin desktop {
    @media (min-width:#{$desktop}) {
        @content;
    }
}

body {
    position: relative;
    background-color: map-get($colors, BgColor);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    background-color: map-get($colors, ConColor);
    padding: 20px;

    @include desktop() {
        position: absolute;
        top: 100px;
        left: 50%;
        width: 80%;
        transform: translateX(-50%);
    }

    h2 {
        color: map-get($colors, TextColor);
        font-size: $fontSize;
        text-transform: uppercase;
        margin: $margin $margin*0.5;
        text-align: center;

        @include desktop() {
            font-size: $fontSize*1.6;
        }
    }

    form {
        margin-left: $margin*0.5;

        .zad,
        .addTask {
            display: inline-block;
            height: $height;
            width: 100%;
            font-size: $fontSize;
            margin: $margin auto;
            background-color: map-get($colors, BtnColor);
            border: 2px solid black;

            @include desktop() {
                font-size: $fontSize*2;
                height: $height*2;
            }
        }

        .zad {
            padding: $margin*0.5;
        }

        .addTask {
            color: map-get($colors, TextColor);
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background-color: map-get($colors, TextColor);
                color: map-get($colors, BtnColor);
            }
        }
    }

    ul {
        list-style: none;

        li {
            font-size: $fontSize;
            width: 100%;
            margin: $margin;
            word-wrap: break-word;

            @include desktop() {
                font-size: $fontSize*1.4;
            }

            span {
                float: right;
                margin-right: $margin;
                transition: 0.3s linear;

                i {
                    cursor: pointer;
                }
            }
        }
    }
}


.fa-trash-alt {
    color: map-get($colors, BgColor);
}

.fa-trash-alt:hover {
    color: #8b2222;
}